$rating-color: #f5c518;

.rating {
    display: flex;
    align-items: center;
    position: relative;
    span {
        font-size: 20px;
        letter-spacing: -2px;
        color: $rating-color;
    }
    &-content {
        position: relative;
        display: flex;
    }
    &-number {
        margin-left: 5px;
        font-size: 16px;
        font-weight: 700;
    }
    &-inner {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        overflow: hidden;
    }
}
